* {
    margin: 0;
    padding: 0;
	background: #5F9EA0;
	/* background: #008B8B; */
}

h1 {
	text-align: center;
	background: #008B8B;	
	/* background:#5F9EA0; */
	height: 70px;
}

.box{
	
	height: 100px;
	width: 100px;
	border: 2px solid;
	box-shadow: 0 0 0 2px;
	line-height: 100px;
	font-size: 100px;
	cursor: pointer;
	background: #FFFACD;
	
}

.container{
	
	text-align: center;
}

#gameboard{
	
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 250px;
	margin: auto;
	padding: 20px;
}

#restartButton{
	
	height: 60px;
	width: 90px;
	margin-left: 65px;
	background: #008B8B;	
	text-align: center;
	
}
#ai{
	
	height: 60px;
	width: 90px;
	background: #008B8B;	
	text-align: center;
	
}
#withopp{
	
	height: 60px;
	width: 90px;
	background: #008B8B;	
	text-align: center;
	display: inline-block;

}

#statusText{
	margin-left: 45px;
	text-align: center;
	padding: 20px;
	font-size: 60px;
}